body {
    background-image: url(../img/pic1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
     
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 0px auto;
    padding: 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
image{
    height: 550px;
    width: 550px;
    border: 3px solid red;

}
.main-content{
    flex-grow: 1;
}
header{
    
    margin-top: 16px;
    margin-bottom: 48px;
}
footer{
    color:white;
    border-top: 1px slid #eeeeee;
    margin-top: 16px;
    padding: 16px 0px;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
    margin-right: 44px;
    color: #eeeeee;
    position: relative;
    left: 100;
}
header a{
    color: white;
    margin-right: 16px;
    text-decoration: none;
}
input{
    border: 3px solid #cccccc;
    padding: 8px;
}
button{
    cursor: pointer;
    border: 3px solid #eeeeee;
    padding: 8px;
    color: #eeeeee;
    background: #4682B4;
    border-radius: 12px;
}


