body {
    background-image: url(../img/pic8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
     
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 0px auto;
    padding: 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
image{
    height: 550px;
    width: 550px;
    border: 3px solid red;

}
.main-content{
    flex-grow: 1;
}
header{
    
    margin-top: 16px;
    margin-bottom: 48px;
}
footer{
    color:white;
    border-top: 1px slid #eeeeee;
    margin-top: 16px;
    padding: 16px 0px;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
    margin-right: 44px;
    color: #eeeeee;
    position: relative;
    left: 100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006666;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {

    background-color: #003333;
  }
 
input{
    border: 3px solid #cccccc;
    padding: 8px;
}
button{
    cursor: pointer;
    border: 3px solid #eeeeee;
    padding: 8px;
    color: #eeeeee;
    background: #4682B4;
    border-radius: 12px;
}


